pipeline/Extract.json
{
	"name": "Extract",
	"properties": {
		"activities": [
			{
				"name": "Execute Extract",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set_CMC_API_Key_var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Extract_Top20LatesCryptos",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RestCMCApiKey": {
							"value": "@variables('RestCMCApiKey')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set_CMC_API_Key_var",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_CMC_API_Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RestCMCApiKey",
					"value": {
						"value": "@activity('Get_CMC_API_Key').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get_CMC_API_Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pl-zpsb01-kv.vault.azure.net/secrets/CMCAPIKey/?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"variables": {
			"RestCMCApiKey": {
				"type": "String"
			}
		},
		"annotations": []
	}
}