pipeline/PL_Copy_DataLoad.json
{
	"name": "PL_Copy_DataLoad",
	"properties": {
		"activities": [
			{
				"name": "GetLocations",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT Location\r\nFROM config.ObjectsToExtract",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetLocationsToExtract",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachLocation",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set LocationNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('LocationNames')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ForeachLocation",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Data_Location",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"CityName": {
										"value": "@item().Location",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set LocationNames",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLocations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LocationNames",
					"value": {
						"value": "@activity('GetLocations').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LocationNames": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Extract/Load"
		},
		"annotations": []
	}
}