pipeline/PL_Copy_DataLoad.json
{
	"name": "PL_Copy_DataLoad",
	"properties": {
		"activities": [
			{
				"name": "GetLocations",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[config].[GetObjectsToExtract]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetLocationsToExtract",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetLocations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetLocations').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CreateTableIfNotExists",
							"description": "It dynamically creates table dwh.tbl_CityName",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[load].[CreateTableIfNotExists]",
								"storedProcedureParameters": {
									"CityName": {
										"value": {
											"value": "@variables('CityName')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set CityName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "CityName",
								"value": {
									"value": "@item().Location",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetDataByCity",
							"type": "Lookup",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[load].[InsertDataForCity]",
									"storedProcedureParameters": {
										"CityName": {
											"type": "String",
											"value": {
												"value": "@variables('CityName')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ODS",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "CopyToCityTables",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set CityName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[load].[InsertDataForCity]",
									"storedProcedureParameters": {
										"CityName": {
											"type": "String",
											"value": {
												"value": "@variables('CityName')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ODS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dwhCityTbl",
									"type": "DatasetReference",
									"parameters": {
										"CityName": {
											"value": "@variables('CityName')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"CityName": {
				"type": "string"
			}
		},
		"variables": {
			"CityName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Extract/Load"
		},
		"annotations": []
	}
}