pipeline/PL_Data_Extract.json
{
	"name": "PL_Data_Extract",
	"properties": {
		"activities": [
			{
				"name": "ExtractCurrentWeather",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set FolderPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "OpenWeatherSourceREST",
						"type": "DatasetReference",
						"parameters": {
							"Latitude": {
								"value": "@pipeline().parameters.LocationLatitude",
								"type": "Expression"
							},
							"Longitude": {
								"value": "@pipeline().parameters.LocationLongitude",
								"type": "Expression"
							},
							"APIKey": {
								"value": "@pipeline().parameters.APIKey",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "OpenWeatherSinkDL",
						"type": "DatasetReference",
						"parameters": {
							"LocationName": {
								"value": "@pipeline().parameters.LocationName",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "@variables('FolderPath')",
								"type": "Expression"
							},
							"ExtractHour": {
								"value": "@variables('CurrentHour')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set FolderPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set CurrentHour",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FolderPath",
					"value": {
						"value": "@{formatDateTime(variables('CurrentDateTime'), 'yyyy/MM/dd/HH')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CurrentDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentDateTime",
					"value": {
						"value": "@convertTimeZone(utcnow(), 'UTC', 'Central Europe Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CurrentHour",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set CurrentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentHour",
					"value": {
						"value": "@formatDateTime(variables('CurrentDateTime'), 'HH')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UpdateExtractionTable",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ExtractCurrentWeather",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SQL",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "FileName",
									"type": "String",
									"value": {
										"value": "@{concat(pipeline().parameters.LocationName,'_',variables('CurrentHour'))}",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "FilePath",
									"type": "String",
									"value": {
										"value": "@variables('FolderPath')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "ExtractionDate",
									"type": "Datetime",
									"value": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ss.fffZ')",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": {
								"value": "INSERT INTO logging.ExtractedFiles (FileName, FilePath, ExtractionDate)\nVALUES\n    (?,?,?)\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"LocationLatitude": {
				"type": "string"
			},
			"LocationLongitude": {
				"type": "string"
			},
			"APIKey": {
				"type": "string"
			},
			"LocationName": {
				"type": "string"
			}
		},
		"variables": {
			"FolderPath": {
				"type": "String"
			},
			"CurrentDateTime": {
				"type": "String"
			},
			"CurrentHour": {
				"type": "String"
			},
			"Array": {
				"type": "Array"
			},
			"ItemName": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Extract"
		},
		"annotations": []
	}
}