pipeline/PL_Data_Extract.json
{
	"name": "PL_Data_Extract",
	"properties": {
		"activities": [
			{
				"name": "ExtractCurrentWeather",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set FolderPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "OpenWeatherSourceREST",
						"type": "DatasetReference",
						"parameters": {
							"Latitude": {
								"value": "@pipeline().parameters.LocationLatitude",
								"type": "Expression"
							},
							"Longitude": {
								"value": "@pipeline().parameters.LocationLongitude",
								"type": "Expression"
							},
							"APIKey": {
								"value": "@pipeline().parameters.APIKey",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "OpenWeatherSinkDL",
						"type": "DatasetReference",
						"parameters": {
							"LocationName": {
								"value": "@pipeline().parameters.LocationName",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "@variables('FolderPath')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set FolderPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set CurrentHour",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FolderPath",
					"value": {
						"value": "@concat(variables('CurrentMonth'), '/', variables('CurrentDay'), '/', variables('CurrentHour'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CurrentMonth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentMonth",
					"value": "@formatDateTime(utcnow(), 'MM')"
				}
			},
			{
				"name": "Set CurrentDay",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set CurrentMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentDay",
					"value": "@formatDateTime(utcnow(), 'dd')"
				}
			},
			{
				"name": "Set CurrentHour",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set CurrentDay",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentHour",
					"value": "@formatDateTime(utcnow(), 'HH')"
				}
			}
		],
		"parameters": {
			"LocationLatitude": {
				"type": "string"
			},
			"LocationLongitude": {
				"type": "string"
			},
			"APIKey": {
				"type": "string"
			},
			"LocationName": {
				"type": "string"
			}
		},
		"variables": {
			"FolderPath": {
				"type": "String"
			},
			"CurrentMonth": {
				"type": "String"
			},
			"CurrentDay": {
				"type": "String"
			},
			"CurrentHour": {
				"type": "String"
			}
		},
		"annotations": []
	}
}