pipeline/PL_Data_Extract.json
{
	"name": "PL_Data_Extract",
	"properties": {
		"activities": [
			{
				"name": "ExtractCurrentWeather",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set FolderPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "OpenWeatherSourceREST",
						"type": "DatasetReference",
						"parameters": {
							"Latitude": {
								"value": "@pipeline().parameters.LocationLatitude",
								"type": "Expression"
							},
							"Longitude": {
								"value": "@pipeline().parameters.LocationLongitude",
								"type": "Expression"
							},
							"APIKey": {
								"value": "@pipeline().parameters.APIKey",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "OpenWeatherSinkDL",
						"type": "DatasetReference",
						"parameters": {
							"LocationName": {
								"value": "@pipeline().parameters.LocationName",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "@variables('FolderPath')",
								"type": "Expression"
							},
							"ExtractCurrentDateTime": {
								"value": "@variables('CurrentFormatted')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set FolderPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set CurrentFormatted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FolderPath",
					"value": {
						"value": "@{formatDateTime(variables('CurrentDateTime'), 'yyyy/MM/dd/HH')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CurrentDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentDateTime",
					"value": {
						"value": "@convertTimeZone(utcnow(), 'UTC', 'Central Europe Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CurrentFormatted",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set CurrentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentFormatted",
					"value": {
						"value": "@formatDateTime(variables('CurrentDateTime'), 'yyyyMMddHH')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute InsertExtractedFile",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ExtractCurrentWeather",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logging].[InsertExtractedFile]",
					"storedProcedureParameters": {
						"ExtractionDate": {
							"value": {
								"value": "@variables('CurrentDateTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"FileName": {
							"value": {
								"value": "@{concat(pipeline().parameters.LocationName,'_',variables('CurrentFormatted'))}",
								"type": "Expression"
							},
							"type": "String"
						},
						"FilePath": {
							"value": {
								"value": "@variables('FolderPath')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileId": {
							"value": {
								"value": "@{binary(concat(\n    string(variables('CurrentFormatted')),\n    string(pipeline().parameters.LocationName),\n    string(pipeline().parameters.LocationId)\n    ))}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"LocationId": {
							"value": {
								"value": "@pipeline().parameters.LocationId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"LocationLatitude": {
				"type": "string"
			},
			"LocationLongitude": {
				"type": "string"
			},
			"APIKey": {
				"type": "string"
			},
			"LocationName": {
				"type": "string"
			},
			"LocationId": {
				"type": "string"
			}
		},
		"variables": {
			"FolderPath": {
				"type": "String"
			},
			"CurrentDateTime": {
				"type": "String"
			},
			"CurrentFormatted": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Extract"
		},
		"annotations": []
	}
}