pipeline/PL_Master_Extract.json
{
	"name": "PL_Master_Extract",
	"properties": {
		"activities": [
			{
				"name": "ForEach Location",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetOpenWeatherAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetObjectsToExtract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetObjectsToExtract').output",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute PL_Data_Extract",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Data_Extract",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"LocationLatitude": {
										"value": "@item().Latitude",
										"type": "Expression"
									},
									"LocationLongitude": {
										"value": "@item().Longitude",
										"type": "Expression"
									},
									"APIKey": {
										"value": "@variables('OpenWeatherAPIKey')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SetOpenWeatherAPIKey",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetOpenWeatherAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OpenWeatherAPIKey",
					"value": {
						"value": "@activity('GetOpenWeatherAPIKey').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetOpenWeatherAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pl-zpsb01-kv.vault.azure.net/secrets/OpenWeatherAPIKey/dff1513a6abc49ec8701b45716a5b9f1?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetObjectsToExtract",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[config].[GetObjectsToExtract]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetLocationsToExtract",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"variables": {
			"OpenWeatherAPIKey": {
				"type": "String"
			},
			"LocationsArray": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}