pl-zpsb-adf-prod/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pl-zpsb-adf-prod"
		},
		"SQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQL'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=pl-zsz-01.database.windows.net;Initial Catalog=pl-zpsb-sql-prod;User ID=AzureADF"
		},
		"KV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://pl-zpsb01-kv.vault.azure.net/"
		},
		"OpenWeatherSource_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.openweathermap.org/data/2.5/weather?"
		},
		"Storage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://plzpsbstorage01.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Data_Extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExtractCurrentWeather",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "OpenWeatherSourceREST",
								"type": "DatasetReference",
								"parameters": {
									"Latitude": {
										"value": "@pipeline().parameters.LocationLatitude",
										"type": "Expression"
									},
									"Longitude": {
										"value": "@pipeline().parameters.LocationLongitude",
										"type": "Expression"
									},
									"APIKey": {
										"value": "@pipeline().parameters.APIKey",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OpenWeatherSinkDL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"LocationLatitude": {
						"type": "string"
					},
					"LocationLongitude": {
						"type": "string"
					},
					"APIKey": {
						"type": "string"
					}
				},
				"variables": {
					"LocationsArray": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OpenWeatherSourceREST')]",
				"[concat(variables('factoryId'), '/datasets/OpenWeatherSinkDL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Master_Extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Location",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetObjectsToExtract",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetObjectsToExtract').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Execute PL_Data_Extract",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_Data_Extract",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LocationLatitude": {
												"value": "@item().Latitude",
												"type": "Expression"
											},
											"LocationLongitude": {
												"value": "@item().Longitude",
												"type": "Expression"
											},
											"APIKey": {
												"value": "@variables('OpenWeatherAPIKey')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SetOpenWeatherAPIKey",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetOpenWeatherAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "OpenWeatherAPIKey",
							"value": {
								"value": "@activity('GetOpenWeatherAPIKey').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetOpenWeatherAPIKey",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://pl-zpsb01-kv.vault.azure.net/secrets/OpenWeatherAPIKey/dff1513a6abc49ec8701b45716a5b9f1?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "GetObjectsToExtract",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetOpenWeatherAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[config].[GetObjectsToExtract]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "GetLocationsToExtract",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"OpenWeatherAPIKey": {
						"type": "String"
					},
					"LocationsArray": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/GetLocationsToExtract')]",
				"[concat(variables('factoryId'), '/pipelines/PL_Data_Extract')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetLocationsToExtract')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Location",
						"type": "nvarchar"
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "config",
					"table": "ObjectsToExtract"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OpenWeatherSinkDL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "zpsb"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OpenWeatherSourceREST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OpenWeatherSource",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Latitude": {
						"type": "string"
					},
					"Longitude": {
						"type": "string"
					},
					"APIKey": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('lat=',dataset().Latitude, '&lon=',dataset().Longitude, '&appid=',dataset().APIKey)",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OpenWeatherSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('KV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OpenWeatherSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('OpenWeatherSource_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"APIKey": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "KV",
								"type": "LinkedServiceReference"
							},
							"secretName": "OpenWeatherAPIKey"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('SQL_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KV",
							"type": "LinkedServiceReference"
						},
						"secretName": "SQLAzureADFSecret"
					},
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Storage_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		}
	]
}