pl-zpsb-adf-prod/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pl-zpsb-adf-prod"
		},
		"SQLPROD_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLPROD'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=pl-zsz-01.database.windows.net;Initial Catalog=pl-zpsb-sql-prod;User ID=AzureADF"
		},
		"Storage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Storage'"
		},
		"ADL_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://plzpsbstorage01.dfs.core.windows.net/"
		},
		"AzureDLStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://plzpsbstorage01.dfs.core.windows.net/"
		},
		"CMCSource_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pro-api.coinmarketcap.com"
		},
		"KVPROD_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://pl-zpsb01-kv.vault.azure.net/"
		},
		"LS_REST_CMC_ApiKey_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().Latest20Query}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Extract",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set_CMC_API_Key_var",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Extract_Top20LatesCryptos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"RestCMCApiKey": {
									"value": "@variables('RestCMCApiKey')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Set_CMC_API_Key_var",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get_CMC_API_Key",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RestCMCApiKey",
							"value": {
								"value": "@activity('Get_CMC_API_Key').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get_CMC_API_Key",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://pl-zpsb01-kv.vault.azure.net/secrets/CMCAPIKey/?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"RestCMCApiKey": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Extract"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Extract_Top20LatesCryptos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extract_Top20LatesCryptos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"APIKey": {
										"value": "@pipeline().parameters.RestCMCApiKey",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CMC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Top20Latest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"RestCMCApiKey": {
						"type": "String"
					}
				},
				"variables": {
					"CurrentDate": {
						"type": "String"
					},
					"RestCMCApiKey": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Extract"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CMC')]",
				"[concat(variables('factoryId'), '/datasets/Top20Latest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Top20Latest",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Top20Latest ods",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['symbol']"
										},
										"sink": {
											"name": "symbol",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['slug']"
										},
										"sink": {
											"name": "slug",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['num_market_pairs']"
										},
										"sink": {
											"name": "num_market_pairs",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['date_added']"
										},
										"sink": {
											"name": "date_added",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['max_supply']"
										},
										"sink": {
											"name": "max_supply",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['circulating_supply']"
										},
										"sink": {
											"name": "circulating_supply",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['total_supply']"
										},
										"sink": {
											"name": "total_supply",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['infinite_supply']"
										},
										"sink": {
											"name": "infinite_supply",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['cmc_rank']"
										},
										"sink": {
											"name": "cmc_rank",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['last_updated']"
										},
										"sink": {
											"name": "last_updated",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['price']"
										},
										"sink": {
											"name": "USD_price",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['volume_24h']"
										},
										"sink": {
											"name": "USD_volume_24h",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['volume_change_24h']"
										},
										"sink": {
											"name": "USD_volume_change_24h",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['percent_change_1h']"
										},
										"sink": {
											"name": "USD_percent_change_1h",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['percent_change_24h']"
										},
										"sink": {
											"name": "USD_percent_change_24h",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['percent_change_7d']"
										},
										"sink": {
											"name": "USD_percent_change_7d",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['percent_change_30d']"
										},
										"sink": {
											"name": "USD_percent_change_30d",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['percent_change_60d']"
										},
										"sink": {
											"name": "USD_percent_change_60d",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['percent_change_90d']"
										},
										"sink": {
											"name": "USD_percent_change_90d",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['market_cap']"
										},
										"sink": {
											"name": "USD_market_cap",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['market_cap_dominance']"
										},
										"sink": {
											"name": "USD_market_cap_dominance",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['quote']['USD']['fully_diluted_market_cap']"
										},
										"sink": {
											"name": "USD_fully_diluted_market_cap",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['status']['timestamp']"
										},
										"sink": {
											"name": "status_timestamp",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['status']['error_code']"
										},
										"sink": {
											"name": "status_error_code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['status']['error_message']"
										},
										"sink": {
											"name": "status_error_message",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['data']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "Top20Latest",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ODS_Top20Latest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate Top20Latest ods",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[mgmt].[TruncateTableBySchema]",
							"storedProcedureParameters": {
								"schemaAndTableName": {
									"value": "stg.Top20LatestCryptocurrency",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLPROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Load_STG"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Top20Latest')]",
				"[concat(variables('factoryId'), '/datasets/ODS_Top20Latest')]",
				"[concat(variables('factoryId'), '/linkedServices/SQLPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CMC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CMCSource",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/v1/cryptocurrency/listings/latest?start=1&limit=20&sort=market_cap&cryptocurrency_type=all&tag=all",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CMCSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "top20cryptos.json",
						"folderPath": "ods",
						"fileSystem": "zpsb"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonDataDestination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDLStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "top20cryptos.json",
						"folderPath": "latest",
						"fileSystem": "cryptodaily"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDLStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_Top20Latest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "stg",
					"table": "Top20LatestCryptocurrency"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_Latest_Top_20')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_CMC_ApiKey",
					"type": "LinkedServiceReference",
					"parameters": {
						"Latest20Query": "https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?start=1&limit=20&sort=market_cap&cryptocurrency_type=all&tag=all"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_CMC_ApiKey')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Top20Latest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "top20currentcryptos.json",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(), 'yyyyMMdd'))",
							"type": "Expression"
						},
						"container": "zpsb"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"status": {
							"type": "object",
							"properties": {
								"timestamp": {
									"type": "string"
								},
								"error_code": {
									"type": "integer"
								},
								"error_message": {
									"type": "null"
								},
								"elapsed": {
									"type": "integer"
								},
								"credit_count": {
									"type": "integer"
								},
								"notice": {
									"type": "null"
								},
								"total_count": {
									"type": "integer"
								}
							}
						},
						"data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "integer"
									},
									"name": {
										"type": "string"
									},
									"symbol": {
										"type": "string"
									},
									"slug": {
										"type": "string"
									},
									"num_market_pairs": {
										"type": "integer"
									},
									"date_added": {
										"type": "string"
									},
									"tags": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"max_supply": {
										"type": "integer"
									},
									"circulating_supply": {
										"type": "integer"
									},
									"total_supply": {
										"type": "integer"
									},
									"infinite_supply": {
										"type": "boolean"
									},
									"platform": {
										"type": "null"
									},
									"cmc_rank": {
										"type": "integer"
									},
									"self_reported_circulating_supply": {
										"type": "null"
									},
									"self_reported_market_cap": {
										"type": "null"
									},
									"tvl_ratio": {
										"type": "null"
									},
									"last_updated": {
										"type": "string"
									},
									"quote": {
										"type": "object",
										"properties": {
											"USD": {
												"type": "object",
												"properties": {
													"price": {
														"type": "number"
													},
													"volume_24h": {
														"type": "number"
													},
													"volume_change_24h": {
														"type": "number"
													},
													"percent_change_1h": {
														"type": "number"
													},
													"percent_change_24h": {
														"type": "number"
													},
													"percent_change_7d": {
														"type": "number"
													},
													"percent_change_30d": {
														"type": "number"
													},
													"percent_change_60d": {
														"type": "number"
													},
													"percent_change_90d": {
														"type": "number"
													},
													"market_cap": {
														"type": "number"
													},
													"market_cap_dominance": {
														"type": "number"
													},
													"fully_diluted_market_cap": {
														"type": "integer"
													},
													"tvl": {
														"type": "null"
													},
													"last_updated": {
														"type": "string"
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADL_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDLStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDLStorage_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CMCSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('CMCSource_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"X-CMC_PRO_API_KEY": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "KVPROD",
								"type": "LinkedServiceReference"
							},
							"secretName": "CMCAPIKey",
							"secretVersion": "e1f3f049401f48178a0c066f3981f70c"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KVPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KVPROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('KVPROD_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_REST_CMC_ApiKey')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Latest20Query": {
						"type": "String",
						"defaultValue": "https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?start=1&limit=20&sort=market_cap&cryptocurrency_type=all&tag=all"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_REST_CMC_ApiKey_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"X-API-Key": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "KVPROD",
								"type": "LinkedServiceReference"
							},
							"secretName": "CMCAPIKey"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KVPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLPROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('SQLPROD_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KVPROD",
							"type": "LinkedServiceReference"
						},
						"secretName": "SQLAzureADFSecret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KVPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Storage_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}